<%-include("../../partials/header.ejs")%>
<%-include("../../partials/navbar.ejs")%>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/update" method="POST">
                <input type="hidden" value="<%=article.id%>" name="id">
                <input class="form-control" type="text" name="title" placeholder="<%=article.title%>">
                <br>
                <textarea id="article" class="form-control" name="body" placeholder="Conteúdo do artigo"><%=article.body%></textarea>
                <br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                    <%categories.forEach(category => {%>

                        <% if(category.id == article.categoryId){ %>
                            <option value="<%=category.id%>" selected><%=category.title%></option>
                        <%}else{ %>
                            <option value="<%=category.id%>"><%=category.title%></option>
                        <%}%>

                    <%})%>
                </select>
                <hr>
                <button class="btn btn-warning">Atualizar</button>
            </form>
        </div>
    </div>
</div>



<%-include("../../partials/footer.ejs")%>


<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        lenguage: 'pt_BR', // NAO FUNCIONOU EM PORTUGUES
        plugins:['advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'],
        selector: '#article',
        
    })
</script>