<%-include("../../partials/header.ejs")%>
<%-include("../../partials/navbar.ejs")%>

<div class="container">
    <br>
    <h1>Categorias</h1>
    <br>
    <a href="/admin/categories/new" class="btn btn-success">Cadastrar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <%categories.forEach(category => {%>
                <tr>
                    <td><%=category.id%></td>
                    <td><%=category.title%></td>
                    <td><%=category.slug%></td>
                    <td>
                        <a class="btn btn-warning" href="/admin/categories/edit/<%=category.id%>">Editar</a>
                        <form action="/categories/delete" method="POST" style="display: inline" onsubmit="confirmarDelecao(event,this)">
                        <input type="hidden" name="id"  value="<%=category.id%>">
                        <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <%})%>
            
        </tbody>
    </table>
</div>

<%-include("../../partials/footer.ejs")%>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        let decision = confirm("Tem certeza que deseja deletar essa categoria?")
        if(decision){
            form.submit();
        }
    }
</script>