
<%-include("partials/header.ejs")%>


<body>
    <%-include("partials/navbarhome.ejs")%>
    <div class="container">
        <br>
        <div class="card top-card">
            <div class="card-body">
                <h1>Olá, seja bem vindo ao AskCode!</h1>
                <br>
                <ul>
                    <li>Este é um blog para compartilhamento de conteúdo Tech.</li>
                    <li> Fique a vontade para fazer suas publicações, sempre lembrando de respeitar a todos.</li>
                </ul>
                <br>
                <a href="/admin/articles/new" class="btn btn-dark">Publique seu primeiro artigo</a>
            </div>
        </div>
        <h2>Artigos</h2>
        <%articles.forEach(article => {%>
            <hr>
           <div class="card">
               <div class="card-header">
                   <h4><%=article.title%></h4>
               </div>
               <div class="card-body">
                   <a href="/<%=article.slug%>" class="btn btn-dark">Ler artigo</a>
               </div>
           </div> 
        <%})%>
        <br>
        <div class="row">
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Próxima página >>></a>
            </div>
        </div>
        <br>
    </div>
    <br>
</body>


<%-include("partials/footer.ejs")%>